# Django Secret Key (Keep this secret!)
SECRET_KEY=your-secret-key-goes-here

# Debug mode (True/False)
DEBUG=True

# Allowed hosts (comma separated)
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Enable Vite HMR live dev server (1=True, 0=False)
VITE_DEV_MODE=0
